<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>skyWatch UI</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="top-left">
            <h1 class="logo"><i class="fa-solid fa-cloud"></i> TuanWeatherApp</h1>
        </div>

        <div class="main-info">
            <div class="left-column">
                <div class="temp-box">
                    <h1><i class="fa-solid fa-temperature-half"></i><span th:text="${temperature}" id="temperature"> ?</span>°C</h1>
                    <div class="location"><i class="fa-solid fa-location-crosshairs"></i> <span th:text="${location}" id="location">Location</span></div>
                    <div class="date"><i class="fa-solid fa-calendar"></i> <span id="weekday" class="weekday-text"></span></div>
                    <div class="condition"><i class="fa-solid fa-smog" id="condition-icon"></i> <span th:text="condition" id="condition">Condition</span></div>
                </div>

                <div class="forecast">
                    <div class="card">Today <br/><i class="day-icon"></i><br/> Humidity:<br><span th:text="todayhumidity" id="today-humidity">?</span>%</div>
                    <div class="card"><span>Tomorrow</span><br/><i class="day-icon"></i><br/> Humidity:<br><span th:text="tomorrowhumidity" id="tomorrow-humidity">?</span>%</div>
                    <div class="card"><span>After Tomorrow</span> <br/><i class="day-icon"></i><br/> Humidity:<br><span th:text="aftertomorrowhumidity" id="after-tomorrow-humidity">?</span>%</div>
                </div>

                <div class="bottom-info">
                    <span><i class="fa-solid fa-gauge"></i> Pressure: <span th:text="pressure" id="pressure">?</span> mb</span>
                    <span><i class="fa-solid fa-wind"></i> Wind: <span th:text="wind" id="wind">?</span> mph</span>
                </div>
            </div>

            <div class="chart-box">
                <h1>Temperature(°C) Today</h1>
                <canvas id="tempChart" width="600" height="300"></canvas>
            </div>
        </div>
    </div>

    <script src="/js/home.js"></script>
</body>
</html>
